
            *{
                margin: 0%;
                padding:0%;
                box-sizing: border-box;
            }

            body{
                width:100%;
                height:100vh;
                font-family: sans-serif;
                font-size: 100px;
                background-color: #182627;
                overflow: hidden;
            }

            header{
                width:100%;
                height:15vh;
                background-color: orchid;
                color:white;
                text-transform: uppercase;
                font-size: 20%;
                position: relative;
                padding-top: 20px;
            }

            header h1{
                position: absolute;
                left:50px;
                transform: translateY(-505);
            }

            header div{
                position: absolute;
                right:0;
                display: flex;
                flex-direction: column;
                width:auto;
                height:100%;
            }

            header div p{
                text-align: center;
            }

            header div span{
                text-align: center;
            }

            main{
                height:85vh;
                width:100%;
                display: flex;
                justify-content: space-around;
            }

            .adj{
                height:100%;
                width:33.33333%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card{
                width:400px;
                height:400px;
                background-color: whitesmoke;
                border-radius: 20px;
            }

            /* .card{
                width:400px;
                height:400px;
                background-color: whitesmoke;
                border-radius: 20px;
            } */

            .card .card-content a{
                width:400px;
                height:400px;
                background-color: whitesmoke;
                border-radius: 20px;
            }
            .card .card-content a:hover{
                color:rgba(0, 0, 0, 0.7);
            }

            #card1{
                position: relative;
                display:flex;
                flex-direction: column;
                align-items: center;
                font-size: 25%;
                background-color:#FAFAFA ;
                overflow: hidden;
            }

            .btn1{
                width:300px;
                height:50px;
                background-color: #45AF3B;
                color:white;
                font-size: 100%;
                border:none;
                outline: none;
                font-weight: 300;
                cursor:pointer;
                margin-top: 5%;
                border-radius: 5px;
                box-shadow: 0px 2px 3px 3px #D5D5D5;
            }

            #card1 p{
                width:100%;
                height:30%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#666666;
                font-size: 90%;
            }

            .btn1:hover {
                background-color: #3D8B40;
            }



            .car{
                font-family: Ubuntu;
                position: absolute;
                bottom: 5%;
                left:20%;
                width:60%;
                height:40%;
                z-index: 10;
            }

     

            #card2{
                height:400px;
                position: relative;
                display:flex;
                flex-direction: column;
                align-items: center;
                font-size: 25%;
                background-color:#FAFAFA ;
                overflow: hidden;
            }

            #card2 p{
                width:100%;
                height:30%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#666666;
                font-size: 90%;
            }

            #card2 p:hover{
                width:100%;
                height:30%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: orange;
                font-size: 90%;
                transition: all 0.3 ease;
            }

            .btn2{
                text-decoration: none;
                text-align: center;
                width:300px;
                height:50px;
                background-color: #005894;
                color:white;
                font-size: 100%;
                border:none;
                outline: none;
                font-weight: 300;
                cursor:pointer;
                margin-top: 5%;
                border-radius: 5px;
                box-shadow: 0px 2px 3px 3px #D5D5D5;
            }

            .btn2 a{
                text-decoration: none;
                color:white;
            }

            .btn2:hover{
                background-color: #003A61;
            }

            .prac{
                position: absolute;
                bottom: 0%;
                left:20%;
                width:60%;
                height:50%;
                z-index: 10;
            }

            #card3{
                height:400px;
                position: relative;
                display:flex;
                flex-direction: column;
                align-items: center;
                font-size: 25%;
                background-color:#FAFAFA ;
                overflow: hidden;
            }

            #card3 p{
                width:100%;
                height:30%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#666666;
                font-size: 90%;
            }

            .btn3{
                width:300px;
                height:50px;
                background-color:mediumorchid;
                color:white;
                font-size: 100%;
                border:none;
                outline: none;
                font-weight: 300;
                cursor:pointer;
                margin-top: 5%;
                border-radius: 5px;
                box-shadow: 0px 2px 3px 3px #D5D5D5;
            }

            .btn3:hover{
                background-color: #6D419E;
            }

            .invite{
                position: absolute;
                bottom: 5%;
                left:20%;
                width:60%;
                height:40%;
                z-index: 10;
            }

            .alert{
                z-index: 100;
                width:100%;
                height:100vh;
                position: fixed;
                top:0;
                left:0;
                display: none;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.7);
            }

            .center-msg{
                width:600px;
                height:400px;
                background-color: white;
                display: flex;
                flex-direction: column;
                font-size: 20%;
                text-align: center;
            }

            .center-msg h1{
                width:100%;
                height:20%;
                padding-top:20px;
            }

            .loder{
                width:100%;
                height:80%;
                background-image: url("preloader.gif");
                background-size: 200px 200px;
                background-position: center;
                background-repeat: no-repeat;
                /* animation: rotate 1.5s linear infinite; */
            }

            @keyframes rotate{
                0%{
                    transform: rotate(0deg);
                }

                100%{
                    transform: rotate(360deg);
                }
            }